.violet{
    -fx-background-color: #2D033B;
}

.beigeHover: hover{
    -fx-background-color: #F5EDCE;
}


.text-field{
  -fx-background-color: transparent;
  -fx-border-color: transparent transparent #2D033B transparent;
}
.text-fieldBiege{
  -fx-background-color: transparent;
  -fx-border-color: transparent transparent #F5EDCE transparent;
}

.text-fillBeige{
    -fx-text-fill: #F5EDCE;
}


.beigeButton{
    -fx-background-color: #F5EDCE;
}

.beige{
    -fx-text-fill:#F5EDCE;
}

.roundcorner{
    -fx-background-radius:25;
}

.leftround{
    -fx-background-radius:25 0 0 25 ;
}

.rightround{
    -fx-background-radius:0 25 25 0 ;
}


.circle{
    -fx-background-radius:2100;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.2), 0.0 , 0.0 , 5 ,5);
}


.transparent{
    -fx-background-color: #E5B8F4;
}

.realtrans{
    -fx-background-color: Transparent;

}


.selectPlan{
    -fx-background-color: #F5EDCE;
    -fx-background-radius: 25;
}

.innerBox{
    -fx-background-color:#F5EDCE;
    -fx-background-radius:25;
}

.planTitle{
    -fx-background-color: #2D033B;
    -fx-background-radius: 25;
    -fx-text-fill: #F5EDCE;
}

.selectButton{
    -fx-background-color: #2D033B;
    -fx-background-radius: 25;
    -fx-text-fill: #F5EDCE;
}

.selectButton:hover{
    -fx-background-color: #810CA8;
}

.selectButton:pressed{
    -fx-text-fill: #2D033B;
    -fx-background-color: #F5EDCE;
}

.thisButton:hover{
    -fx-background-color: #810CA8;
}

.thisButton:pressed{
    -fx-background-radius: 40;
}


.backScroll{
    -fx-background-color: #2D033B;
}